<h1>Office</h1>

<h3>Building: <%= @office.building.name %></h3>

<h3>Company: <%= @office.company.name %> </h3>

<h3>Employees: </h3>
<ol>
    <% @office.company.employees.each do |employee| %>
        <li><%= employee.name %></li>
    <% end %>
</ol>